.TicketSellContainer {
    display: flex;
    flex-direction: column;
}

.TicketSellContainer h2 {
    align-self: center;
    margin-top: 3rem;
}

.TicketSellContainer h4 {
    align-self: center;
    margin-top: .25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 75%;
}

.titleSeatpicker {
    margin-left: 12.5%;
}

.plattegrond {
    width: 75%;
    min-height: 10rem;
    margin: auto;

    margin-bottom: .5rem;
    border: 1px solid #000000;
    text-align: center;
}

.podium {
    width: 75%;
    margin: auto;
    border: 1px solid #000000;
    text-align: center;
}

.LegendaContainer { 
    display:flex;
    width: 75%;
    font-size: 0.938rem;
    margin:auto;
    margin-bottom: 2rem;
   
}
.LegendaitemsRechts{
    display:flex;
    gap:.5rem;
    justify-content: right;
}

.LegendaitemsLinks{
    display:flex;
    gap:.5rem;
    justify-content: left;
}

.left{
    margin-right: auto;
}

.eerste {
    background: #D9D9D9;
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #FDDF41;
    border-radius: 6px;
  }

  .tweede {
    background: #D9D9D9;
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #2878EF;
    border-radius: 6px;
  }
  

  .derde {
    background: #D9D9D9;
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 6px;
  }

  .BeschikbaarIcon{
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 6px;
    background-color: #D9D9D9;
  }
  
  .bezetIcon{
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 6px;
    background-color: #FF0000;
  }
  .GeselecteerdIcon{
    min-width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 6px;
    background-color: #21DC21;
  }
  

  .rijStoelButtonContainer{
    width: 75%;
    display:flex;
    margin:auto;
    margin-bottom: 1rem;
  }

  .rijNummer{
    margin-right: auto;
  }

  .DropdownRijNummer{
    text-align: center;
    width: 5.875rem;
    border: 2px solid blue;
    border-radius: 4px;
  }

  .DropdownStoelNummer{
    text-align: center;
    width: 5.875rem;
    border: 2px solid blue;
    border-radius: 4px;
  }

  .VoegToeAanTicketLijst{
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .lijnSeatPicker1{
    border: 1px solid #000000;
    width: 75%;
    margin: auto;
  }

  .TicketLijstFrame{
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-around
}

.lijnSeatPicker2{
    border: 1px solid #000000;
    width: 15%;
    margin-left: 68%;
}

.totaalprijsText{
    width: 15%;
    margin-left: 69%; 
    margin-bottom: 2rem;
}

.inWinkelMandKnop{
    width: 75%;
    margin: auto;
}

.stoelenlijst{
    height: 50%;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
    border: 2px solid black;
}