* {
    font-weight: 900;

    line-height: 130%;
}

#AccountPageTitle {
    position: absolute;
    width: 158px;
    height: 30px;
    left: 101px;
    top: 73px;

    font-size: 20px;
}

#GebruikersNaanmInvoer {
    position: absolute;
    width: 283px;
    height: 48px;
    left: 38px;
    top: 182px;

}

#PasswordInvoer {
    position: absolute;
    width: 283px;
    height: 48px;
    left: 38px;
    top: 273px;
}

#EmailAdresInvoer {
    position: absolute;
    width: 283px;
    height: 48px;
    left: 38px;
    top: 364px;
}

#UpdateButtonAP {
    position: absolute;
    width: 283px;
    height: 44px;
    left: 38px;
    top: 439px;

}


#IconTextIntresse {
    position: absolute;
    width: 91px;
    height: 17px;
    left: 23px;
    top: 610px;

}

#IconTextReserveringen {
    position: absolute;
    width: 77px;
    height: 17px;
    left: 133px;
    top: 610px;
}

#IconTextEI {
    position: absolute;
    width: 101px;
    height: 17px;
    left: 234px;
    top: 610px;
}

div {
    font-size: 12px;
}

#extraSettings {
    display: flex;
    align-items: center;
    margin-top: 551px;
    margin-left: 11px;
}

#extraSettings img {
    margin-right: 20px;
}

#lijn {
    width: 303px;
    height: 1px;
    left: 28px;
    position: absolute;
    top: 512px;
}


#backbutton {
    position: absolute;
    width: 38px;
    height: 39px;
    left: 9px;
    top: 56px;
}

.titelExtraAccountPages {
    position: absolute;
    width: 128px;
    height: 33px;
    left: 113px;
    top: 174px;
    font-size: 20px;

    text-align: center;
}

#LijnExtraPaginas {
    width: 303px;
    height: 1px;
    left: 28px;
    top: 243px;
    position: absolute;
    background-color: black;
}

#IntresseToevoegenButton {
    position: absolute;
    width: 46px;
    height: 39px;
    left: 230px;
    top: 400px;
}

#IntresseVerwijderenButton {
    position: absolute;
    width: 46px;
    height: 39px;
    left: 285px;
    top: 400px;
}

#intresseAanpassenVeld {
    position: absolute;
    width: 304px;
    height: 407px;
    left: 27px;
    top: 264px;
}

#LineMijnReserveringen{
    position: absolute;
    left: 28px;
    top: 672px;
    
    width: 303px;
    height: 1px;

    background-color: black;

}

#downloadTicketPDFIcon{
    position: absolute;
    width: 48px;
height: 32px;
left: 59px;
top: 699px;
}

#downloadTicketPDFText{
    position: absolute;
width: 89px;
height: 62px;
left: 45px;
top: 740px;
}

#doorsturenTicketIcon{
    position: absolute;
    width: 42px;
    height: 32px;
    left: 256px;
    top: 702px; 
}

#doorsturenTicketText{
    position: absolute;
width: 89px;
height: 62px;
left: 250px;
top: 747px;

}

#NieuwsbriefOpzeggenText{
    position: absolute;
width: 163px;
height: 143px;
left: 153px;
top: 395px;

font-size: 15px;
text-align: center;
}

#AccountverwijderenText{
    position: absolute;
    width: 163px;
    height: 82px;
    left: 153px;
    top: 647px;  
    font-size: 15px;
    text-align: center;

}

#AccVerwijderenKop{
    position: absolute;
width: 216px;
height: 38px;
left: 145px;
top: 615px;
font-size: 20px;
color : red;
}

#AccOpzeggenButton{
    position: absolute;
    width: 100px;
    height: 67px;
    left: 28px;
    top: 621px;
       
}

#NieuwsBriefOpzeggenButton{
position: absolute;
width: 100px;
height: 67px;
left: 28px;
top: 400px;

}