* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    position: absolute;
    width: 211px;
    height: 69px;
    left: 74px;
    top: 69px;
}

#GebruikersNaanmInvoer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 283px;
    height: 48px;
    left: 38px;
    top: 206px;

}

#PasswordInvoer {
    box-sizing: border-box;


    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 283px;
    height: 48px;
    left: 38px;
    top: 297px;

}

#LoginButton {
    position: absolute;
    width: 283px;
    height: 44px;
    left: 38px;
    top: 439px;

}

#RegistreerButton {
    position: absolute;
    width: 283px;
    height: 44px;
    left: 38px;
    top: 502px;

}

#linkWachtwoordvergeten {
    position: absolute;
    width: 203px;
    height: 39px;
    left: 88px;
    top: 575px;

    line-height: 130%;
    

    text-decoration-line: underline;

    color: #143CCB;
}

#RememberMeCheckBox{
    
    width: 235px;
    height: 24px;
    left: 62px;
    top: 380px;
}


#FA_collectie{
    display: flex;
    width : 270px;
    gap : 8px;

    position: absolute;
    left: 34px;
    top: 230px;
    
}

.FA_box{
width: 46px;
height: 48px;

}

#SubmitButton2FA{
    position: absolute;
width: 283px;
height: 44px;
left: 34px;
top: 334px;
}

h2{
    position: absolute;
    width: 273px;
    height: 31px;
    left: 62px;
    top: 175px;

    font-weight: 900;
    font-size: 20px;
}

#text2FaPage{
    position: absolute;
width: 246px;
height: 140px;
left: 62px;
top: 423px;

font-weight: 700;
font-size: 16px;
line-height: 130%;

}
#lijn2fa{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 8px;

position: absolute;
width: 329px;
height: 18px;
left: 15px;
top: 602px;

color : black;
}

#EmailOpnieuwLink{
    position: absolute;
    width: 203px;
    height: 39px;
    left: 93px;
    top: 570px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    
    text-decoration-line: underline;
    
    color: #143CCB;
}